

:root {
  --main-background-color: #222;
  --button-background-color: #224;
  --item-background-color: #224;
  --highlight-background-color: #88a;
  --highlight-text-color: #fff;
  --secondary-color: #448;
  --main-text-color: #eee;
  --secondary-text-color: #aac;
  --tabbar-color: #224;
  --list-split-header-background-color:#448;
  --bar-text-color: #fff;

  --background-color: var(--main-background-color);
  --material-background-color:  var(--main-background-color);
  --text-color: var(--main-text-color);
  --sub-text-color: var(--secondary-text-color);
  --highlight-color: rgba(24, 103, 194, 0.81);
  --second-highlight-color: var(--secondary-text-color);
  --border-color: #ccc;
  --toolbar-background-color: var(--item-background-color);
  --toolbar-button-color: rgba(38, 100, 171, 0.81);
  --toolbar-text-color: var(--main-text-color);
  --toolbar-border-color: #bbb;
  --button-bar-color: var(--tabbar-color);
  --button-bar-active-text-color: #fff;
  --segment-color: var(--tabbar-color);
  --segment-active-text-color: #fff;
  --list-background-color: var(--item-background-color);
  --list-header-background-color: var(--list-split-header-background-color);
  --list-tap-active-background-color: #d9d9d9;
  --tabbar-background-color: var(--item-background-color);
  --tabbar-text-color: var(--secondary-text-color);
  --tabbar-highlight-text-color: var(--highlight-text-color);
  --tabbar-border-color: #ccc;
  --switch-highlight-color: #5198db;
  --modal-background-color: rgba(0, 0, 0, 0.7);
  --modal-text-color: #fff;
  --alert-dialog-background-color: #f4f4f4;
  --alert-dialog-text-color: var(--main-text-color);
  --alert-dialog-button-color: rgba(24, 103, 194, 0.81);
  --alert-dialog-separator-color: #ddd;
  --dialog-background-color: #f4f4f4;
  --popover-background-color: white;
  --popover-text-color: var(--main-text-color);
  --notification-background-color: #dc5236;
  --material-switch-active-thumb-color: var(--button-background-color);
  --material-switch-inactive-thumb-color: #f1f1f1;
  --material-switch-active-background-color: #77c2bb;
  --material-switch-inactive-background-color: #b0afaf;
  --material-range-track-color: #e0e0e0;
  --material-range-thumb-color: var(--button-background-color);
  --material-toolbar-background-color: var(--button-background-color);
  --material-toolbar-text-color: #ffffff;
  --material-toolbar-button-color: #ffffff;
  --material-toolbar-button-active-color: rgba(255, 255, 255, 0.15);
  --material-button-background-color: var(--button-background-color);
  --material-button-text-color: #ffffff;
  --material-checkbox-active-color: var(--button-background-color);
  --material-checkbox-inactive-color: #717171;
  --material-checkbox-checkmark-color: #ffffff;
  --material-radio-button-active-color: var(--button-background-color);
  --material-radio-button-inactive-color: #717171;
  --material-text-input-text-color: #212121;
  --material-text-input-active-color: var(--button-background-color);
  --material-text-input-inactive-color: #afafaf;
  --material-dialog-background-color: #ffffff;
  --material-alert-dialog-background-color: #ffffff;
  --material-alert-dialog-title-color: #212121;
  --material-alert-dialog-content-color: #727272;
  --material-alert-dialog-button-color: var(--button-background-color);
  --material-progress-bar-primary-color: var(--button-background-color);
  --material-progress-bar-secondary-color: var(--secondary-color);
  --material-progress-bar-background-color: #e0e0e0;
  --material-progress-circle-primary-color: var(--button-background-color);
  --material-progress-circle-secondary-color: var(--secondary-color);
  --material-tabbar-background-color: var(--button-background-color);
  --material-tabbar-text-color: var(--bar-text-color);
  --material-tabbar-highlight-text-color: #ffffff;
  --material-tabbar-highlight-color: var(--highlight-background-color);
  --fab-text-color: #ffffff;
  --fab-background-color: var(--button-background-color);
}
